.slider{
    position: absolute;
    width: 10%;
    margin: 0;
    left: 45%;
}

#room{
    top: 45%;
}

#office{
    top: 85%;
}

#blueprint{
    background: url('blueprint.png') center no-repeat;
    background-color: #af9d87;
    height:100%;
    width: 100%;
}

html, body{
    margin: 0;
    width: 100%;
    height: 100%;
}